# -----------------------
# Build artifacts
# -----------------------
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper JAR
!.mvn/wrapper/maven-wrapper.jar

# -----------------------
# IDEs
# -----------------------
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# -----------------------
# Logs & crash dumps
# -----------------------
*.log
hs_err_pid*.log
replay_pid*.log

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db
